@charset "utf-8";


body {
    text-align: center;
}

/* header */
header {
    background: #3C4767;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

/*アコーディオンメニュー*/
nav {
    display: none;
}

.nav-open {
    padding: 15px;
    color: #fff;
    font-size: 20px;
    background: #3C4767;
    position: relative;
}

.nav-open::before {
    /* 閉じている時 */
    content: "+";
    position: absolute;
    right: 20px;
}

.nav-open.active::before {
    /* 開いている時 */
    content: "-";
}

/* モーダルのスタイル */
.modal-main {
    /*モーダルウィンドウを非表示にする。*/
    display: none;
}

.edit-img {
    /*カーソル設定をします。（.send-button）というお問い合わせボタンで使用したクラスを反映しているので、その他のスタイルは自動的に反映される。 */
    cursor: pointer;
}
